@mixin flex($align-items: center, $justify-content: center, $flex-flow: row) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-flow: $flex-flow;
}

@mixin font($siz: false, $wei: false, $sty: false, $col: false, $fam: false) {
  @if $siz { font-size: $siz; }
  @if $wei { font-weight: $wei; }
  @if $sty { font-style: $sty }
  @if $col { color: $col }
  @if $fam { font-family: $fam; }
}

@mixin border($border, $top: false, $right: false, $bottom: false, $left: false) {
  @if $top == 1 { border-top: $border; }
  @if $right == 1 { border-right: $border; }
  @if $bottom == 1 { border-bottom: $border; }
  @if $left == 1 { border-left: $border; }
}